<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Link camera_link -->
  <link name="camera_link">
    <inertial>
      <origin xyz="5.37582e-18 -7.20266e-19 -0.0175" rpy="0 0 0"/>
      <mass value="0.0229688"/>
      <inertia ixx="4.68945e-06" ixy="0" ixz="0" iyy="2.77539e-06" iyz="0" izz="2.77539e-06"/>
    </inertial>
    <!-- Part camera_link -->
    <visual>
      <origin xyz="6.45358e-18 0 -0.0175" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://slambot_description/assets/camera_link.stl"/>
      </geometry>
      <material name="camera_link_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="6.45358e-18 0 -0.0175" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://slambot_description/assets/camera_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to camera_link -->
  <joint name="camera" type="fixed">
    <origin xyz="0.083 -2.43306e-17 0.095" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>

<!--THIS IS A FIX TO CHANGE THE ORIENTATION SO IT WORKS WITH OPENCV (ALWAYS INCLUDE)
  generate an optical frame 
  http://www.ros.org/reps/rep-0103.html#suffix-frames
  so that ros and opencv can operate on the camera frame correctly -->
  <link name="camera_optical_link">
  </link>

  <joint name="camera_optical_joint" type="fixed">
      <!-- these values have to be these values otherwise the gazebo camera
          image won't be aligned properly with the frame it is supposedly
          originating from -->
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="camera_link"/>
      <child link="camera_optical_link"/>
  </joint>


</robot>