<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Link lidar_link -->
  <link name="lidar_link">
    <inertial>
      <origin xyz="-1.06386e-18 5.77779e-34 -0.0125" rpy="0 0 0"/>
      <mass value="0.041469"/>
      <inertia ixx="6.30675e-06" ixy="0" ixz="0" iyy="6.30675e-06" iyz="0" izz="8.2938e-06"/>
    </inertial>
    <!-- Part lidar_link -->
    <visual>
      <origin xyz="0 1.22465e-18 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://slambot_description/assets/lidar_link.stl"/>
      </geometry>
      <material name="lidar_link_material">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 1.22465e-18 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://slambot_description/assets/lidar_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to lidar_link -->
  <joint name="lidar" type="fixed">
    <!--<origin xyz="-0.050039 8.16354e-18 0.105" rpy="3.14159 -0 0"/>-->
    <origin xyz="-0.050039 8.16354e-18 0.13" rpy="0 -0 0"/>  <!-- If z-axis pointing down, use this instead-->
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>

</robot>