

<!-- ==============================================================================-->




<!-- IMPORTANT - IMPORTANT - IMPORTANT - IMPORTANT - IMPORTANT -->

<!-- THIS FILE IS NO LONGER USED, SEE 'ros2_control_sim.xacro' INSTEAD-->

<!-- THIS FILE WAS WHAT WE USED BEFORE WE IMPLEMENTED ROS2 CONTROL! -->





<!-- ==============================================================================-->



<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<!-- =============== DiffDrive =============== -->
    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <!--wheels-->
            <left_joint>front_left_wheel_joint</left_joint>
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            <right_joint>rear_right_wheel_joint</right_joint>
            <!--kinematics-->
            <wheel_separation>0.198</wheel_separation>
            <wheel_radius>0.034</wheel_radius>
            <!--limits-->
            <max_linear_acceleration>0.4</max_linear_acceleration> <!-- Smooth ramp-up linear -->
            <min_linear_acceleration>-0.4</min_linear_acceleration> <!-- Snappy braking linear -->
            <max_angular_acceleration>1</max_angular_acceleration> <!-- Smooth ramp-up turning -->
            <min_angular_acceleration>-1</min_angular_acceleration> <!-- Snappy stop turning -->
            <max_linear_velocity>0.2</max_linear_velocity> <!-- Matches real robot max linear velocity -->
            <max_angular_velocity>2.02</max_angular_velocity> <!-- Matches real robot max angular velocity -->
            <!--topics, frames and odometry-->
            <topic>/cmd_vel</topic>
            <tf_topic>/tf</tf_topic>
            <odom_topic>/odom</odom_topic>
            <frame_id>odom</frame_id> <!--Best to use prefixes and to set the prefix on the RVIZ config too, see xacro_properties.xacro for where to change these -->
            <child_frame_id>base_footprint</child_frame_id>  <!--Best to use prefixes and to set the prefix on the RVIZ config too, see xacro_properties.xacro for where to change these -->
            <odom_publisher_frequency>30</odom_publisher_frequency>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>front_left_wheel_joint</joint_name>
            <joint_name>front_right_wheel_joint</joint_name>
            <joint_name>rear_left_wheel_joint</joint_name>
            <joint_name>rear_right_wheel_joint</joint_name> 
        </plugin>
    </gazebo>

<!--=========================================-->


<!-- IF USING SENSORS MUST INCLUDE THE BELOW -->
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
        
        <!--For IMU-->
        <plugin filename="gz-sim-imu-system"
            name="gz::sim::systems::Imu">
        </plugin>

    </gazebo>



<!-- =========== Lidar Sensor ============ -->
    <gazebo reference="lidar_link">
        <sensor name='lidar' type='gpu_lidar'>
            <pose relative_to='lidar_link'>0 0 0 0 0 0</pose>
            <topic>/scan</topic>
            <update_rate>10</update_rate> <!-- Update rate of 10Hz is recommended for slam /nav2 setups -->
            <always_on>1</always_on>
            <visualize>1</visualize>
            <gz_frame_id>lidar_link</gz_frame_id> <!-- This will give a warning on terminal, but that's a gazebo harmonic issue, so ignore it-->
            <lidar>
                <scan>
                    <!--When doing SLAM always better to have a 360 lidar as better for loop closures-->
                    <horizontal>
                    <samples>720</samples>
                    <resolution>1.000000</resolution>
                    <min_angle>0.000000</min_angle>
                    <max_angle>6.280000</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.08</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </lidar>
        </sensor>
    </gazebo>
    
<!--=========================================-->


<!-- =========== Camera Sensor ============ -->
    <gazebo reference="camera_link">
        <sensor name="camera" type="camera">
            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>15</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
                <optical_frame_id>camera_optical_link</optical_frame_id>
                <camera_info_topic>/camera/camera_info</camera_info_topic>
            </camera>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <topic>/camera/image_raw</topic>
        </sensor>
    </gazebo>
<!--=========================================-->


<!-- =========== IMU Sensor ============ -->

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <topic>/imu/data</topic>
            <update_rate>15.0</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <gz_frame_id>imu_link</gz_frame_id>
            <noise>
            <type>gaussian</type>
            <rate>
                <mean>0.0</mean>
                <stddev>0.0002</stddev>
                <bias_mean>0.00000075</bias_mean>
                <bias_stddev>0.00000008</bias_stddev>
            </rate>
            <accel>
                <mean>0.0</mean>
                <stddev>0.017</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
            </accel>
            </noise>
        </sensor>
    </gazebo>


<!--==========================================-->

</robot>
