<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>

        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">

            <!-- Wheel Information -->

            <left_joint>Revolute 3</left_joint>
            <left_joint>Revolute 4</left_joint>

            <right_joint>Revolute 2</right_joint>
            <right_joint>Revolute 6</right_joint>
            <wheel_separation>0.8205</wheel_separation>
            <wheel_radius>0.075</wheel_radius>>

            <!-- Input -->
            <topic>cmd_vel</topic>

            <!-- Output -->
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
            <odom_topic>odom</odom_topic>            
            <tf_topic>tf</tf_topic>

        </plugin>


        <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
            <topic>joint_states</topic>
            <left_joint>Revolute 3</left_joint>
            <left_joint>Revolute 4</left_joint>

            <right_joint>Revolute 2</right_joint>
            <right_joint>Revolute 6</right_joint>
          
        </plugin>
 
    </gazebo>



    <!-- <gazebo>

        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">


            <updateRate>10.0</updateRate>
            <robotBaseFrame>/base_link</robotBaseFrame>
            <wheelSeparation>0.20</wheelSeparation>
            <wheelDiameter>0.08</wheelDiameter>
            <torque>5</torque>
            <leftFrontJoint>Revolute 3</leftFrontJoint>
            <rightFrontJoint>Revolute 4</rightFrontJoint>
            <leftRearJoint>Revolute 2</leftRearJoint>
            <rightRearJoint>Revolute 6</rightRearJoint>
            <topicName>cmd_vel</topicName>
            <commandTopic>cmd_vel</commandTopic>
            <broadcastTF>true</broadcastTF>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>/odom</odometryFrame>
            <covariance_x>0.000100</covariance_x>
            <covariance_y>0.000100</covariance_y>
            <covariance_yaw>0.010000</covariance_yaw>
        </plugin>
    </gazebo> -->

</robot>