<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

 

     <gazebo>
        
        <plugin name="skid_steer_drive" filename="gz-sim-diff-drive-system">

            <num_wheel_pairs>2</num_wheel_pairs>
            
            <left_joint>Revolute 3</left_joint>
            <right_joint>Revolute 2</right_joint>
            <left_joint>Revolute 4</left_joint>
            <right_joint>Revolute 6</right_joint>

            <wheel_separation>0.3</wheel_separation>
            <wheel_separation>0.3</wheel_separation>

            <wheel_diameter>0.15</wheel_diameter>
            <wheel_diameter>0.15</wheel_diameter>

            <max_wheel_torque>50</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom> 
  
        </plugin>

   
     </gazebo>


</robot>