<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: c4aa493c9127ef72e4e641df -->
<robot name="{robot_name}" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
    <xacro:arg name="using_sim" default="true" />

    <xacro:include filename="xacro_properties/xacro_properties.xacro" />
    <xacro:include filename="modules/kc.xacro" />
    <!-- <xacro:include filename="modules/camera.xacro" /> -->
    <!-- <xacro:include filename="modules/lidar.xacro" /> -->
    <xacro:include filename="modules/rear_camera.xacro" />

    <xacro:if value="$(arg using_sim)">
        <!--<xacro:include filename="gazebo/gazebo_plugins.xacro" />--> <!-- REPLACED BY THE NEW ros2_control_sim.xacro MODULE -->
        <xacro:include filename="modules/ros2_control_sim.xacro" />
        <!-- <xacro:include filename="modules/imu_sim.xacro" /> -->
    </xacro:if>

    <xacro:unless value="$(arg using_sim)">
        <xacro:include filename="modules/ros2_control.xacro" />
        <!-- <xacro:include filename="modules/imu_real.xacro" /> -->
    </xacro:unless>

    <!-- ... inside the launch file we then use commands such as this ...
    
    xacro_file = os.path.join(get_package_share_directory('kc_vision_description'), 'urdf', 'kc_vision_description.urdf.xacro')
    
    robot_description_config = Command(['xacro ', xacro_file, ' using_sim:=false'])
    
    params = {'robot_description': robot_description_config}
    
    node_robot_state_publisher = Node(
        package='robot_state_publisher',
        executable='robot_state_publisher',
        output='screen',
        parameters=[params]
    )
    
    ... -->
 
</robot>
